<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Add other permissions here if needed -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PROJECT"
        tools:targetApi="31">
        <activity
            android:name=".FlaggedQuestions"
            android:exported="false" />
        <activity
            android:name=".EditNote"
            android:exported="false" />
        <activity
            android:name=".AdminTopicViewList"
            android:exported="false" />
        <activity
            android:name=".AdminTopicAdd"
            android:exported="false" />
        <activity
            android:name=".AdminHome"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".AddNotes"
            android:exported="false" />
        <activity
            android:name=".DeleteAccount"
            android:exported="false" />
        <activity
            android:name=".DetaildedTopic2activity"
            android:exported="false" />
        <activity
            android:name=".EditMyProfile"
            android:exported="false" />
        <activity
            android:name=".Myprofile"
            android:exported="false" />
        <activity
            android:name=".data_class.Topic"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".SignIN"
            android:exported="false" />
        <activity
            android:name=".SignUP"
            android:exported="false" />
        <activity
            android:name=".SelectScreen"
            android:exported="false" />
        <activity
            android:name=".spashScreen02"
            android:exported="false" />
        <activity
            android:name=".spashScreen01"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>